.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #efefef !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #f7c500;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  font-weight: bold;
}