.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7c500;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: rgb(61, 61, 70);
}
.heading{
  text-transform: capitalize;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}
